* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --maincolor: #0c0a09;
    --sidebarcolor: #111827;
    --headercolor: #111827;
    
    --sidebarfontcolor: #f9fafb;
    --buttonradius1: 50px;
    --sidebarRadius: 15px;


}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
    background-color: var(--maincolor);
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 100px 1fr;
}

.header {
    margin-left: 15px;
    margin-right: 15px;
    background-color: var(--maincolor);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerSearch {
    transition: 0.4s ease;
    color: #ffffff6c;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    height: 50%;
    width: 20%;
    background-color: var(--headercolor);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.075);
}

.headerSearch:hover {
    opacity: 0.5;
}

.headerprofile {
    transition: 0.4s ease;
    color: var(--sidebarfontcolor);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    gap: 30px;
    background-color: #000000;
    height: 50%;
    width: 15%;
    background-color: var(--headercolor);
    border-radius: var(--buttonradius1);
    border: 1px solid rgba(255, 255, 255, 0.075);
}

#profilePic {
    height: 90%;
    border-radius: var(--buttonradius1);
}

.headerprofile:hover {
    opacity: 0.5;
}


.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    color: var(--sidebarfontcolor);
    background-color: var(--sidebarcolor);
    grid-column: 1 / 2;
    grid-row: 1 / 4;
}

.sidebar h1 {
    font-size: 40px;
}

.sidebartitle {
    margin-top: 5px;
    padding: 20px;
}

.sidebar1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    height: 15%;
    width: 90%;
    background-color: var(--maincolor);
    border-radius: var(--sidebarRadius);
    font-size: 1.5rem;
}

.sidebarbtnhome {
    transition: 0.3s ease;
    display: flex;
    align-items: center;
    gap: 20px;
    height: 50%;
    width: 95%;
}

.sidebarbtnhome:hover {
    cursor:default;
    opacity: 0.5;
}

.sidebarbtnsearch {
    transition: 0.3s ease;
    display: flex;
    align-items: center;
    gap: 20px;
    height: 50%;
    width: 95%;
}

.sidebarbtnsearch:hover {
    cursor: default;
    opacity: 0.5;
}

.sidebar2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 70%;
    width: 90%;
    background-color: var(--maincolor);
    border-radius: var(--sidebarRadius);
    padding: 15px;
}

.sidebar2btns {
    transition: 0.2s ease;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    gap: 15px;
    border-radius: var(--sidebarRadius);
}

.sidebar2btns:hover{
    background-color: #111827;
}

.main {
    display: grid;
    grid-template-columns: 1fr 300px;
    background-color: var(--maincolor);
}

.mainContent {
    background-color: var(--maincolor);
    padding: 15px;
}

.topButtons {
    background-color: #f9fafb;
    height: 5%;
    width: 30%;
}


.sidebarRight {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: var(--sidebarcolor);
    color: var(--sidebarfontcolor);
    border-radius: var(--sidebarRadius);
}

.sidebarRight1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1.5rem;
}

#nowPlayingimg {
    height: 280px;
    border-radius: var(--sidebarRadius);
}

.nowPlayingInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;   
}

#nowplayingsongtitle:hover {
    text-decoration: underline;
}

#nowplayingartist {
    color: #f9fafbbd;
}

#nowplayingtick:hover {
    scale: 1.05;
    opacity: 0.5;
}